.about {
  margin-inline: auto;
  max-width: 1400px;
  background: rgb(210, 245, 173);
  background: linear-gradient(
    90deg,
    rgba(210, 245, 173, 1) 0%,
    rgba(255, 251, 56, 1) 90%
  );
  padding: 2rem 1.5rem;

  &__title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
  }

  &__section-title {
    text-align: center;
    margin: 2rem 0 1rem;
  }

  &__text {
    text-align: justify;
  }

  & ul {
    padding-left: 1rem;
    margin: 0;
  }
  &__divider {
    margin: 2rem 0;
  }
}
